{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block nav %}{% include 'nav.html' %}{% endblock %}

{% block content %}

<div class="row">

    <div class="offset-md-2 col-md-8 pt-5">
        <h4>Wlecome!</h4>
        <p>
        Simple Todo application written using FLask along with the 
        following extensions:
        </p>
        <ul>
            <li>Flask-SQLAlchemy</li>
            <li>Flask-Migrate</li>
            <li>Flask-WTF</li>
        </ul>
    </div>

</div>

{% endblock content %}
